// media queries
=xl
    @media only screen and (max-width: "1579px")
        @content
=w
    @media only screen and (max-width: "1419px")
        @content
=d
    @media only screen and (max-width: "1259px")
        @content
=t
    @media only screen and (max-width: "1023px")
        @content
=m
    @media only screen and (max-width: "767px")
        @content
=s
    @media only screen and (max-width: "474px")
        @content

=r($width)
    @media only screen and (max-width: $width+ "px")
        @content

=rmin($width)
    @media only screen and (min-width: $width+ "px")
        @content
    
// primary color
$p2: #D1CAC7
$p4: #AD9C94
$p6: #937A70
$p8: #735B52
$p10: #543C32

// secondary color
$s2: #F1F3E2
$s4: #DFE3B5
$s6: #D2D898
$s8: #C7CE7E
$s10: #AEB946

// colors neutral
$n0: #FFFFFF
$n1: #D0D0D0
$n2: #D0D0D0
$n3: #B8B8B8
$n4: #A0A0A0
$n5: #898989
$n6: #717171
$n7: #5A5A5A
$n8: #414141
$n9: #2A2A2A
$n10: #121212
