@import @/styles/helpers

.gallery
    display: flex
    flex-wrap: wrap
    gap: rem(8)
    background-size: cover
    aspect-ratio: 16 / 9
    justify-content: space-between
    +m
        display: block
        gap: rem(8)


.image
    aspect-ratio: 16 / 9
    background-size: contain
    width: 49%
    height: auto
    +w
        width: 49%
        height: 49%
        margin-bottom: rem(8)
    +d
        width: 100%
        height: 100%
        margin-bottom: rem(8)
    +m
        width: 100%
        height: 100%
        margin-bottom: rem(8)