@import @/styles/helpers

.section
    display: flex
    align-items: flex-start
    height: auto
    min-height: 0

    
.container
    display: flex
    justify-content: space-between
    align-items: flex-start
    gap: rem(60)
    width: 100%
    +t
        display: block

.title
    margin-bottom: rem(62)
    font-weight: 500
    +t
        margin-bottom: rem(46)
    +m
        margin-bottom: rem(38)

.links
    display: flex
    flex-direction: column
    align-items: flex-start
    flex-shrink: 0
    width: rem(600)
    padding-bottom: rem(16)
    +r(1179)
        width: rem(330)
    +t
        width: 100%
        padding: 0

.link
    text-align: left
    color: $p2
    transition: color .2s
    &:hover
        color: $n2
    &.active
        font-weight: 800
        text-decoration-line: underline
        color: $n0
    &.active
        .counter
            border-color: $p2
            opacity: 100%
            text-decoration: none

    &:not(:last-child)
        margin-bottom: rem(8)

.counter
    margin-left: rem(12)
    padding: rem(3) rem(12) rem(1)
    border: rem(1) solid $p6
    border-radius: rem(14)
    +subtitleS
    color: $p2
    text-decoration: none
    opacity: 0%
    transition: border-color .2s
    margin-right: rem(16)
    +m
        margin-right: rem(8)
        padding: rem(2) rem(7) rem(1)
        +subtitleXS

.text
    +bodyL
    +m
        +bodyM

.actions
    padding: 0 rem(20) rem(14) 0
    text-align: right
    +w
        padding-right: 0
    +m
        padding: 0
        text-align: left

.button
    margin: 0 rem(30) rem(126) 0
    +d
        margin-bottom: rem(156)
    +r(1179)
        margin-right: 0
    +m
        margin-bottom: rem(46)
    &:hover
        svg
            transform: translate(-50%,-50%) rotate(45deg)