@import @/styles/helpers

.field
    &.fieldNumber
        position: relative
        padding-left: rem(72)
        color: $n0

        +m
            padding-left: 0

.number
    position: absolute
    top: 0
    left: 0
    width: rem(48)
    padding: rem(3) 0 rem(1)
    text-align: center
    color: $n0
    +m
        position: relative
        margin-bottom: rem(20)

.label
    +bodyL
    color: $n0
    +m
        +bodyM

.wrap
    position: relative

.textarea
    width: 100%
    min-height: rem(120) // Adjust the minimum height as needed
    resize: vertical // Allow vertical resizing
    border-width: 0 0 rem(1)
    border-style: solid
    border-color: $p6
    padding-left: rem(16)
    padding-top: rem(16)
    background: $n2
    border-radius: rem(2)
    +bodyM
    color: #000
    transition: border-color .2s
    +m
        min-height: rem(56) // Adjust as needed
        +bodyS
    &::placeholder
        color: #898989
        font-weight: 500
    &:focus
        border-color: #333333
        background: $n1
        color: #333333
        font-weight: 500
    &.error
        border-color: #F07E60

    
.input
    width: 100%
    height: rem(62)
    border-width: 0 0 rem(1)
    border-style: solid
    border-color: $p6
    padding-left: rem(16)
    background: $n2
    border-radius: rem(2)
    +bodyM
    color: #000
    transition: border-color .2s
    +m
        color: #000
        height: rem(56)
        +bodyS
    &::placeholder
        color: #898989
        font-weight: 500
    &:focus
        border-color: #333333
        background: $n1
        color: #333333
        font-weight: 500
    &.error
        border-color: #F07E60

.errorText
    margin-top: rem(12)
    text-align: right
    color: #333333